<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="false">CopyRight | PrashanthPNaika</span>
            <a href="https://www.linkedin.com/" target="_blank" id="link"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.twitter.com/" target="_blank" id="tw"><i class="fa fa-twitter"></i></i></a>
            <a href="https://www.facebook.com/" target="_blank" id="fb"><i class="fa fa-facebook-official"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank" id="wa"><i class="fa fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank" id="ins"><i class="fa fa-instagram"></i></i></a>
            <a href="https://www.google.com/" target="_blank" id="gm"><i class="fa fa-google"></i></i></a>
        </div>
    </nav>
</footer>