<div class="cu">
<article>
    <section>
        <p>Whether you are an existing customer who needs to schedule a service call, talk to your sales rep or ask about our latest technologies, or you and your company are looking for more information on our services, our customer service department will handle your inquiry and get you to the person who can get you the information you are looking for.
        </p>
        <p>
            You may contact us by phone or by submitting the contact form below. Your business is important to us and we pledge to respond to your inquiry within 24 hours.
        </p>
    </section>

    <div id="map-canvas">
    </div>

    <form id="resForm" onsubmit="return FormValidationContact()" name="formassign4" method="post">
        <fieldset>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input name="fname" type="email" class="form-control" id="firstname" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input name="lname" type="password" class="form-control" id="lastname" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="telnum">Contact Number</label>
                <input name="phone" type="tel" class="form-control" id="telnum" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Email ID">
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" rows="5" placeholder="Your requirements go here ...."></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Start Over</button>
        </fieldset>
    </form>
</article>
</div>