<div onload="slideit()">
    <div id="slider">
        <img src="images/miscphotos/hotcoffee.jpg" id="slide" width="900" height="300">
    </div>
    <br>
    <div class="sectn">
        <article>
            <section>
                We'll admit if it wasn't for a hearty cappuccino every morning we don't know how we would have gotten through this winter. There's something about the smell and taste of coffee and the warmth of a hot cup in our hands that is reassuring whenever nature decides to prank the city with another five inches of snow !!!!
            </section>
            <br>
            <section>
                <br>
                <img src="images/b3000se.jpg" id="product">
                <br>
                <br>
                The <strong>B3000/B3000SE</strong> Large Office Brewing System, the largest most advanced brewing system, is packed with features. The <strong>B3000/B3000SE</strong> is the way large offices make the coffee you, your office and your customers will love.
            </section>
            <hr>
        </article>
    </div>
</div>
