<div class="ps">
<p>
    Imagine coffee house quality drinks in the convenience of your office. On this page you will find our most popular products and services. We may have products and services available that are not listed here. If there is something we do not have listed here or in our product catalog please let us know and we will see if we can add it to our offerings.<a href="contact.html">Contact Us</a>  to speak to a customer service representative.
</p>
    <p><a href="../../images/services/2014_catalog.pdf">2014 Product Catalog </a>
    </p>
</div>
<div>
<article>
    <section>
        <div>
            <table border="1">
                <tr>
                    <th id="pn">Product Name</th>
                    <th id="pp">Product Picture</th>
                    <th id="desc">Description</th>
                </tr>
                <tr>
                    <th id="pn"><a href="images/services/2014_catalog.pdf">Ground Coffee Packs</a></th>
                    <th id="pp"><img src="images/services/ground-coffee-packs.jpg" width="200" height="200" title="Ground Coffee Packs"></th>
                    <th id="desc"><p>Traditional brew-by-pot coffee systems are the best coffee service solution for many restaurants, corporations and food service providers. We offer pre-measured ground coffee packs - designed to brew one pot off coffee per pack - from numerous roasters including our own line of premium coffees. We also offer a full line of brew-by-pot systems.</p>
                        <p>
                            <a href="images/services/2014_catalog.pdf">Download our product catalog for a complete selection</a>
                        </p></th>
                </tr>
                <tr>
                    <th id="pn"><a href="images/services/2014_catalog.pdf">Single Serving Cartridges &amp Brewers</a></th>
                    <th id="pp"><img src="images/services/single-serving-cartridges.jpg" width="200" height="200" title="Single Serving Cartridges &amp Brewers"></th>
                    <th id="desc"><p>The Keurig K-cup is a highly engineered, technologically sophisticated mini-brewer. It is trusted by the world's best roasters to brew their coffee & tea varieties with the precise quality and flavor intended. Every cup. Every time. We also offer other brands of single serving cartridges including Keurig Vue, Keurig Bolt, and Starbucks Verismo.
                    </p>
                        <p>
                            <a href="images/services/2014_catalog.pdf">See all the K-cups and Brewers in our product catalog </a>
                        </p></th>
                </tr>
                <tr>
                    <th id="pn"><a href="images/services/2014_catalog.pdf">Hot &amp Cold Beverages</a></th>
                    <th id="pp"><img src="images/services/beverages.jpg" width="200" height="200" title="Hot &amp Cold Beverages"></th>
                    <th id="desc"><p>The perfect supplement for your coffee program. Keep all those non-coffee drinkers happy with a great selection of regular, herbal and flavored teas, cocoas, cappuccinos, and hot cider. We carry over 100 cold beverages for your enjoyment. From sodas, juices, iced tea and bottled waters to Gatorade, Crystal Light and energy drinks you can be sure that everyone in the office will be satisfied.
                    </p>
                        <p>
                            <a href="images/services/2014_catalog.pdf">See our full range of beverage products in our product catalog  </a>
                        </p></th>
                </tr>
                <tr>
                    <th id="pn"><a href="images/services/2014_catalog.pdf">Cream &amp Sugar</a></th>
                    <th id="pp"><img src="images/services/cream-sugar.jpg" width="200" height="200" title="Cream &amp Sugar">></th>
                    <th id="desc"><p>We’ll provide you everything you need to make that cup of coffee perfect. To sweeten things up we carry all types of sugar and sugar substitutes. To round off that perfect cup we carry the popular Mini-Moo shelf stable creamers, regular and fat-free powered creamers and stir sticks.
                    </p>
                        <p>
                            <a href="images/services/2014_catalog.pdf">View our full product list in our product catalog  </a>
                        </p>
                    </th>
                </tr>
                <tr>
                    <th id="pn"><a href="images/services/2014_catalog.pdf">Cups, Lids &amp Paper Products</a></th>
                    <th id="pp"><img src="images/services/cups.jpg" width="200" height="200" title="Cups, Lids &amp Paper Products"></th>
                    <th id="desc"><p>Start out with our great looking line of plates and bowls and go down the list from there. We’ll provide you with all the paper products you’ll ever need. From cutlery to paper towels to tissues we’ll eliminate the need for any other paper vendor.
                    </p>
                        <p>With our wide variety of both hot and cold cups you can get the size and strength cup that best fits your needs and your budget. Make sure to keep the carpets and desk tops clean by offering your employees lids to go with those cups
                        </p>
                        <p>
                            <a href="images/services/2014_catalog.pdf">View our full product list in our product catalog  </a>
                        </p></th>
                </tr>
            </table>
        </div>
    </section>
</article>
</div>